
@mixin bullseye(){
  cursor: crosshair;
}
.vft-crop{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: 100%;
  @include bullseye();

  &-mask{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    @include bullseye();
  }
  &-top{
    top: 0;
    left: 0;
  }
  &-right{
    top: 0;
    right: 0;
  }
  &-bottom{
    right: 0;
    bottom: 0;
  }
  &-left{
    bottom: 0;
    left: 0;
  }

  &-rectangle{
    position: absolute;
    background: transparent;
    border:  1px solid #252525;
    @include bullseye();
  }
}
