.control-type{
  width: 322px;
  height: 60px;
  background: rgba(255,255,255,1);
  border-radius: 8px;
  box-shadow:  0 9px 20px 0 rgba(37,37,37,0.25);
  display: flex;
  position: fixed;
  z-index: 2;
  bottom: 24px;
  left: calc(50vw - 161px);
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity .3s ease;
  &:hover{
    opacity: 1;
  }
  .ant-radio-group{
    margin-left: 24px;
  }

}
