.control-type {
  display: flex;
  justify-content: center;
  align-items: center;
  .title{
    color: rgba(37, 37, 37, 0.5);
  }
  .ant-radio-group {
    margin-left: 10px;
    padding: 2px;
    background: rgba(14, 36, 57, 0.1);
    font-size: 14px;
    line-height: 1.5715;
    .ant-radio-button-wrapper {
      height: 24px;
      line-height: 24px;
      padding: 0 13px;
      background: rgba(14, 36, 57, 0.1);
      font-size: 12px;
    }
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    color: #252525;
    background: #FFFFFF;
    border-color: #FFFFFF;
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    color: #252525;
    background: #FFFFFF;
    border-color: #FFFFFF;
  }
  .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
    border-right-color: #FFFFFF;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
    background-color: #FFFFFF;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):before {
    background: unset;
  }
  .ant-radio-button-wrapper:hover {
    color: unset;
  }
}
