.pixeye-ctrl-space {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  .ant-divider-vertical{
    height: 16px;
    border-color: rgba(37, 37, 37, 0.3);
    top: unset;
  }
}
