@import "../style/mixin";
$inner-bg-color:rgba(238,242,246,1);
.property {
  position: absolute;
  top: 0;
  width: 244px;
  font-size: 14px;
  transform: translate3d(-100%, 0, 0);
  border-radius: 4px 4px 0 0;
  left: 0;
  visibility: visible;
  z-index: 99;
  box-shadow:  0 0 8px 0 rgba(0,0,0,0.1);
  background: #FFFFFF;
}

.property.right {
  top: 80px;
  right: 20px;
  left: auto;
  transform: translate3d(100%, 0, 0);
}

.property.open {
  transform: translateZ(0);
  visibility: visible;
}

.property.close {
  transform: translateZ(0);
  visibility:hidden;
}

.rel-property_index {
}

.page-design-info {
  width: 100%;
  height: 56px;
  line-height: 56px;
  padding: 0 24px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  display: flex;
  justify-content: space-between;
  color: rgba(37, 37, 37, 1);
  border-radius: 8px 8px 0 0;
  opacity: 90;

  > div {
    font-size: 16px;
  }

  > div.close_icon {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 22px;
    flex-shrink: 0;
  }

  > div.left_title {
    @include ellipsis()
  }

  .platform-icon {
    width: 24px;
    height: 24px;
  }

  .unit_name {
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    color: #333;
    margin: 0 8px;
    max-width: 88px;

    .unit_device {
      font-size: 14px;
      font-weight: 400;
      opacity: .5;
    }
  }

}

.page-unit-info{
  height: 32px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(14,36,57,.2);
  border-radius: 4px;
  margin: 8px 12px 0;
  padding: 0 8px;
  .left_title,.right_title{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    color: rgba(37,37,37,.5);
    flex-shrink: 0;
  }
  .unit_name{
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    color: #252525;
    max-width: 88px;
    .unit_device {
      font-size: 14px;
      font-weight: 400;
      opacity: .5;
    }
  }
}

.overflow-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.property .rel-property_content {
  //height: calc(100% - 56px);
}

.property-base-wrap {

  >.content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    color: #6e747d;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}
