.page-operation-module {
  line-height: 32px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  .zoom-in-out {
    position: relative;
  }
  .white-board-module,
  .white-board-module .frosted-glass,
  .white-board-module .wrap-line {
    border-radius: 16px;
  }
  > div {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
  }
}

.button-module.rel-btn--medium {
  line-height: 32px;
}
.button-module.rel-btn--icon {
  border-radius: 50%;
}
.white-board-module {
  z-index: 2;
}
.button-module {
  border: 0;
  outline: none;
  user-select: none;
  border-radius: 20px;
  line-height: 40px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #252525;
  background-color: transparent;
  &.disabled {
    color: #252525;
    opacity: 0.3;
  }
  .icon-wrap {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252525;
  }

  &:not(.disabled) {
    .icon-wrap {
      &:hover {
        background: rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        color: #f04632;
      }
    }
  }
}
