@import "style/mixin";
.page-operation-module {
  width: 84px;
  line-height: 32px;
  @include flex();
  @include center();
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  color: #252525;
  .anticon{
    margin-left: 4px;
  }
}

.scale-dropdown {
  width: 200px;
  .ant-dropdown-menu-item {
    padding: 9px 16px;
    &:hover {
      background-color: rgba(14, 36, 57, 0.05);
    }
  }
  .ant-dropdown-menu-title-content {
    @include flex();
    @include align-center();
    justify-content: space-between;
  }
}
